<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <style>
        .bac {
            display: flex !important;
            align-items: center;
        }

        /* Define la animación */
        @keyframes fadeIn {
            from {
                opacity: 0;
                /* Elemento invisible al principio */
                transform: translateX(-100px);
                /* Puede ajustarse según la dirección deseada */
            }

            to {
                opacity: 1;
                /* Elemento completamente visible al final */
                transform: translateX(0);
                /* Sin transformación al final */
            }
        }

        /* Aplica la animación al elemento */
        .fade {
            animation: fadeIn 0.3s ease-out forwards;
            /* Nombre de la animación, duración, y función de temporización */
        }
        </style>
    <title>Bienvenido</title>
</head>

<body>
    <% if(id){ %>
        <% if(rol=="Administrador" ) {%>
            <div class="container fade">
                <br>
                <div class="bac">
                    <a href="/" class="btn btn-dark"><ion-icon name="log-out" class="btn-dark"></ion-icon></a>
                    <span style="margin-left: 5px;">Cerrar Sesión</span>
                </div>
                <br>
                <center>
                    <h1 class="display-4">Admin</h1>
                    <hr>
                </center>
                <br><br>
                <div class="alert alert-dark" role="alert">
                    <span>Te damos la bienvenida <b>
                            <%= usuario %>
                        </b></span>
                </div>
                <div class="alert alert-dark" role="alert">
                    <a class="btn btn-dark" href="/users?id=<%= id %>" role="button"><ion-icon
                            name="man"></ion-icon></a>
                    <span style="margin-left: 2px;">Agregar usuario</span>
                    <br><br>
                    <a class="btn btn-dark" href="/dashboard/tareas?id=<%= id %>" role="button"><ion-icon
                            name="paper"></ion-icon></a>
                    <span style="margin-left: 2px;">Gestionar cuestionarios</span>
                    <br><br>
                    <a class="btn btn-dark" href="/dashboard/puntos?id=<%= id %>" role="button"><ion-icon
                            name="checkbox"></ion-icon></a>
                    <span style="margin-left: 2px;">Gestionar puntos</span>
                    <br><br>
                    <a class="btn btn-dark" href="#" role="button"><ion-icon name="people"></ion-icon></a>
                    <span style="margin-left: 2px;">Gestionar rangos y roles</span>
                </div>
                <div class="alert alert-dark" role="alert">
                    <span><b>Aviso:</b> el modo desarrolador solo es para uso de los administradores.</span>
                </div>
            </div>
            <% }else { %>
                <div class="container fade">
                    <br>
                    <div class="bac">
                        <a href="/" class="btn btn-dark"><ion-icon name="log-out" class="btn-dark"></ion-icon></a>
                        <span style="margin-left: 5px;">Cerrar Sesión</span>
                    </div>
                    <br>
                    <center>
                        <h1 class="display-4">Inicio</h1>
                        <hr>
                    </center>
                    <br><br>
                    <div class="alert alert-dark" role="alert">
                        <span>Te damos la bienvenida <b>
                                <%= usuario %>
                            </b></span>
                    </div>
                    <div class="alert alert-dark" role="alert">
                        <a class="btn btn-dark" href="/dashboard/datos?id=<%= id %>" role="button"><ion-icon
                                name="man"></ion-icon></a>
                        <span style="margin-left: 2px;">Perfil</span>
                        <br><br>
                        <a class="btn btn-dark" href="/dashboard/tareas?id=<%= id %>" role="button"><ion-icon
                                name="paper"></ion-icon></a>
                        <span style="margin-left: 2px;">Tareas</span>
                        <br><br>
                        <a class="btn btn-dark" href="/dashboard/puntos?id=<%= id %>" role="button"><ion-icon
                                name="checkbox"></ion-icon></a>
                        <span style="margin-left: 2px;">Puntos ganados</span>
                        <br><br>
                        <a class="btn btn-dark" href="/dashboard/rangos?id=<%= id %>" role="button"><ion-icon
                                name="people"></ion-icon></a>
                        <span style="margin-left: 2px;">Sistema de rangos</span>
                        <br><br>
                        <a class="btn btn-dark" href="/dashboard/game1?id=<%= id %>" role="button"><ion-icon
                                name="logo-game-controller-b"></ion-icon></a>
                        <span style="margin-left: 2px;">Minijuegos</span>
                    </div>
                    <div class="alert alert-dark" role="alert">
                        <span><b>Aviso:</b> Se añadieron los primeros 2 rangos con su informacion y la opcion de
                            minijuegos, con el cual puedes generar puntos desde ya</span>
                    </div>
                </div>
                <% } %>
                    <% } else {%>
                        <h1>Error al iniciar sesion</h1>
                        <a href="/auth">Volver a iniciar sesion</a>
                        <% } %>

                            <script src="./js/retro.js"></script>
                            <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>