<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
  />
  <style>
    .bac{
        display: flex !important;
        align-items: center;
    }
  </style>
    <title>Bienvenido</title>
</head>
<body>
    <% if(!id) {%>
        <h1>ha ocurrido un error con la sessión</h1>
        <a href="/auth">Volver a iniciar sesion</a>
    <% } else{ %>

        <% if(rol == "Administrador"){ %>
            <div class="container">
                <br>
                <div class="bac">
                    <a href="/dashboard?id=<%= id %>"><ion-icon name="arrow-round-back" class="btn-dark" size="large"></ion-icon></a>
                </div>
                <br>
                    <center>
                        <h1 class="display-4">Gestion de puntos</h1>
                        <hr>
                        <br><br>
                    </center>
                    <center>
                        <div class="alert alert-dark" role="alert">
                            <h5>Subir todos los puntos</h5>
                            <form action="/dashboard/puntos?id=<%= id %>" method="POST">
                                <button type="submit" class="btn btn-dark">Subir</button>
                            </form>
                        </div>
                        <div class="alert alert-dark" role="alert">
                            <a name="" id="" class="btn btn-dark" href="/dashboard/ocult/puntos?id=<%= id %>" role="button">Puntos por separado</a>
                        </div>
                    </center>
            </div>
        <% } else { %>
            <div class="container">
            <br>
            <div class="bac">
                <a href="/dashboard?id=<%= id %>"><ion-icon name="arrow-round-back" class="btn-dark" size="large"></ion-icon></a>
            </div>
            <br>
                <center>
                    <h1 class="display-4">Puntos</h1>
                    <hr>
                    <br><br>
                </center>
                <div class="alert alert-dark" role="alert">
                    <span><b>Aviso:</b> Los puntos semanales se reinician el domingo de cada semana.</b></span>
                </div>
                <div class="alert alert-dark" role="alert">
                    <center>
                        <br>
                        <button type="button" class="btn btn-dark"><h1 class="display-4"><%= totalPoints %></h1></button>
                        <br>
                        <h4>Total de puntos ganados</h4>
                    </center>
                    <br><hr><br>
                    <center>
                        <button type="button" class="btn btn-dark"><h1 class="display-4"><%= currentPoints %></h1></button>
                        <br>
                        <h4>Puntos semanales</h4>
                    </center>
                </div>
            </div>
        <% } %>
    <% } %>

    <script src="./js/retro.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>